
/* CSS para todo*/
*{
    margin: 100 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0%;
}

#create-post > div {
    margin-bottom: 1rem;
}

#added-tags > span {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 0.25rem;
    background-color: lightblue;
    padding: 0 0.2rem 0.1rem 0.2rem;
    margin: 0.25rem 0.25rem 0 0;
}

#added-tags > span > a {
    margin-left: 0.25rem;
    cursor: pointer;
}

#refresh {
    margin-right: 0.25rem;
}

.img-responsive{
    width: 100%;
    object-fit: cover;

}
.img-curve{
    border-radius: 15px;

}

.img-dest{
    height: 400px;
    width: 350px;
    margin-left: 40px;
    background-color: blue;
}

.img-responsive:hover{
    filter: opacity(.5); 
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center; 
}
.text-left{
    text-align: left;
}
.text-white{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.text-search{
    color:white;
}
.clearfix{
    clear: both;
    float: none;
}


a{
    color: #F78C04; 
    text-decoration: none;
}
a:hover{
    color: #F75600;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #F78C04;
    color: white;
    cursor: pointer;
 
}
.btn:hover{
    color: white;
    background-color: #F75600;
}
h2{
    color:orange;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    top: -10px;
    left: 45%;
    color: black;
    background-color: #F78C04;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.error{
    padding: 2%;
    color: red;
}
.success{
    padding: 2%;
    color: green
}

/*Estilos para las cookies*/
.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #2f3640;
    color: #f5f6fa;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
    z-index: 5;
  
    transition: 400ms;
  }
  
  .cookie-container.active {
    bottom: 0;
  }
  
  .cookie-container a {
    color: #f5f6fa;
  }
  
  .cookie-btn {
    background: #F78C04;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;

  }

  .aviso-btn {
    background: #31a7eb;
    border: 0;  
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
  }


/* CSS para sección busqueda alimentos */

.food-search{
    background-image: url(../images/rb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 9% 0;
    color: white;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
/*
.popup{
    background-color: rgba(0, 0, 0, 0.3);
      width: 50%;
      height:10%;
      padding: 30px 40px;
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      top: 50%;
      border-radius: 8px;
      font-family: "Poppins",sans-serif;
      display: none; 
      text-align: center;
      z-index:5;
    height: 50vh;
    width: 50vw;
    transition: opacity 0.3s ease;
  }
  
  
  .popup button{
      display: block;
      margin:  0 0 20px auto;
      background-color: transparent;
      font-size: 30px;
      color: #ffffff;
          background: #F78C04;
          border-radius: 100%;
          width: 40px;
          height: 40px;
      border: none;
      outline: none;
      cursor: pointer;
      margin-top: 50px;
      margin-right: 50px;
  }
  .popup img{
      width:60%;
      height:80%;
  }

  */
/* CSS para Categorias */
.categories{
    padding: 6% 0;
}



.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}

.contenido {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    display: flex;
	
}
.mostrador{
    width: 100%;
    transition: .5s ease;
	text-align: center;

}


/* CSS para lista alimentos */
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.food-menu-box{
    width: 45%;
    height: 200px;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 22%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
    
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS para Social */
.social{
    background-color: rgba(255, 187, 148, 0.866);
}
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* CSS para pedidos */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

/*CSS para el boton de subir */
#progress {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 60px;
    background: #F78C04;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    border-radius: 10px;
    color: white;
    transition: .3s linear;
    cursor: pointer;
}

#progress:hover{
    color: white;
    background-color: #F75600;
}
 
html{
    scroll-behavior: smooth;
}



/* CSS  para tamaño móvil */

@media only screen and (max-width:768px){

    .navbar{
        text-align: center;
    }
    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-top: 10%;
    }
    .btn{
        width: 50%;
        padding: 2%;
        margin-bottom: 10%;

    }
    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 10% 0;
    }
    .categories img{
        box-align: center;
        margin-left: 100px;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 10% 0;
    }

    .food-menu-box{
        width: 95%;
        height: 10%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }

    .contenido{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;

    }

}